.block {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

.block-1-3 {
  width: 33.33%;
}

.block-2-3 {
  width: 66.66%;
}

.sign {
  align-self: flex-end;
}

@media (max-width: 640px) {
  .block {
    display: block;
  }

  .block-1-3 {
    width: auto;
  }

  .block-2-3 {
    width: auto;
  }
}
