.to_the_right {
  text-align: right;
}

.to_the_left {
  text-align: left;
}

.to_the_center {
  text-align: center;
}

.text-dodgerblue {
  color: #0ca1a6;
  text-shadow:
    white 3px 3px 5px,
    white 3px -3px 5px,
    white -3px 3px 5px,
    white -3px -3px 5px;
}

.text-deeppink {
  color: #ff9ac0;
}

@media (max-width: 640px) {
  .to_the_right {
    text-align: center;
  }

  .to_the_left {
    text-align: center;
  }
}
